{% extends 'base/base.html'%}
{%block body_block%}
<div class="container col-sm-6 mx-auto">
    <p class="display-4 text-center">following</p>
    {% for object in user_following_list %}

    <div class="row">
        <div class="col text-center my-auto font-weight-bold">
            <p class="my-auto">
                <a href="{%url 'user:profile' object.username%}">
                    {{object.username}}
                </a>
            </p>
        </div>
        <div class="col text-center">
            {% if object == request.user %}
            <p>
                <p class="btn btn-primary text-primary bg-transparent btn-block mt-2 mx-3">you</p>

            </p>
            {%else%}
            {% if object in logged_in_user_following_list%}
            <p>

                <form action="{% url 'user:unfollow'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="calling_page" value="{{request.path}}">
                    <input type="hidden" name="user_to_unfollow" value="{{object.username}}">
                    <input type="submit" value="unfollow" class="btn btn-primary btn-block mt-2 mx-3">
                </form>
            </p>
            {%else%}
            {%if object in logged_in_user_follower_list %}
            <p>

                <form action="{% url 'user:follow'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="calling_page" value="{{request.path}}">
                    <input type="hidden" name="user_to_follow" value="{{object.username}}">
                    <input type="submit" value="follow back" class="btn btn-primary btn-block mt-2 mx-3">
                </form>
            </p>
            {%else%}
            <p>

                <form action="{% url 'user:follow'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="calling_page" value="{{request.path}}">
                    <input type="hidden" name="user_to_follow" value="{{object.username}}">
                    <input type="submit" value="follow" class="btn btn-primary btn-block mt-2 mx-3">
                </form>
            </p>
            {%endif%}
            {%endif%}
            {%endif%}

        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}