<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{user.user.username}}</title>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="{{user.profile_pic.url}}" alt="user profile pic" class=" img-fluid" width="250px"
                    height="250px" style="border-radius: 100%;">
            </div>
            <div class="col">
                <p class="display-4">{{user.user.username}}</p>
                <p>{{user.user.is_authenticated}}</p>
                <pre>{{user.bio}}</pre>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-5 mx-auto p-3">

            {% for post in posts reversed %}
            <div class="card my-5">
                <div class="card-header">
                    <!-- <img src="{{user.1.profile_pic.url}}" alt="" style="width: 15%;border-radius: 50%;"> -->
                    <strong>{{post.author}}</strong>
                    {% if request.user == post.author %}
                    <span class="float-right">

                        <a href="{% url 'post:update' post.id %}" class="btn btn-primary">edit</a>
                        <a href="{% url 'post:delete' post.id %}" class=" btn btn-danger">delete</a>
                    </span>
                    {% endif %}
                </div>
                {% if post.img %}
                <div class="card-body p-0">
                    <img src="{{post.img.url}}" alt="" class="card-img-top">
                </div>
                {% endif %}
                <div class="card-footer">
                    {{post.post_desc}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</body>

</html>